In [36]:
import pandas as pd
import numpy as np

In [37]:
df=pd.read_excel(r'D:/Users/AW0811/Desktop/Feynn Labs Internship/marksdata.xlsx')
print(df)

    Unnamed: 0  Math  Business Studies  Environmental Studies  Social Science  \
0          NaN    70                83                     56              74
1          NaN    82                64                     51              57
2          NaN    57                92                     85              80
3          NaN    56                62                     96              89
4          NaN    96                50                     69              52
5          NaN    61                80                     88             100
6          NaN    83                65                     67              57
7          NaN    91                93                     91              82
8          NaN    72                60                     90              59
9          NaN    65                98                     71              61
10         NaN    74                91                     84              52
11         NaN    88                90                     68              75
12         NaN    53                73                     77              90
13         NaN    70                58                    100              78
14         NaN   100                91                     63              66
15         NaN    93                90                     92              91
16         NaN    95                70                    100              50
17         NaN    89                85                     63              73
18         NaN    80                53                     64              59
19         NaN    55                79                     55              65
20         NaN    92                89                     64              78
21         NaN    75                65                     77              87
22         NaN    71                76                     84             100

    Physics  Chemistry  Biology  English  German  Spanish  Class  Unnamed: 12  \
0        78         52       59      100      91       85      0          NaN
1        52         70       55       77      79       90      0          NaN
2        78         71       65       94      63       87      1          NaN
3        74         54       60       67      78       62      2          NaN
4        86         83       53       55      60       82      3          NaN
5        78         68       89       75      88       60      2          NaN
6        73         91       51       58      51       84      6          NaN
7        62         83       95       55      82       97      2          NaN
8        82         92       55       78      65       67      5          NaN
9        78         76       66       88      74       88      1          NaN
10       50         70       64       74      87       72      1          NaN
11       98         91       90       50      86       71      3          NaN
12       72         61       69       60      81       72      2          NaN
13       54        100       76       99      74       69      5          NaN
14       84         51       93       98      62       69      4          NaN
15       88         61       87       59      89       78      1          NaN
16       51         75       84       87      91       94      0          NaN
17       74         97       85       59      53       97      4          NaN
18       91         57       86       93      64       77      6          NaN
19       76         94       66       79      93       71      0          NaN
20       74         80       54       70      91       51      4          NaN
21       91         61       77       93      59       58      3          NaN
22       56         73       56       53      64       79      2          NaN

    Unnamed: 13  Unnamed: 14  Unnamed: 15 Unnamed: 16             Unnamed: 17
0           NaN          NaN          NaN         NaN                     NaN
1           NaN          NaN          NaN     Classes                   Field
2           NaN          NaN          NaN           0               Languages
3           NaN          NaN          NaN           1        Business studies
4           NaN          NaN          NaN           2              Humanities
5           NaN          NaN          NaN           3   Mathematical Sciences
6           NaN          NaN          NaN           4                 Finance
7           NaN          NaN          NaN           5  Environmental Sciences
8           NaN          NaN          NaN           6        Science research
9           NaN          NaN          NaN         NaN                     NaN
10          NaN          NaN          NaN         NaN                     NaN
11          NaN          NaN          NaN         NaN                     NaN
12          NaN          NaN          NaN         NaN                     NaN
13          NaN          NaN          NaN         NaN                     NaN
14          NaN          NaN          NaN         NaN                     NaN
15          NaN          NaN          NaN         NaN                     NaN
16          NaN          NaN          NaN         NaN                     NaN
17          NaN          NaN          NaN         NaN                     NaN
18          NaN          NaN          NaN         NaN                     NaN
19          NaN          NaN          NaN         NaN                     NaN
20          NaN          NaN          NaN         NaN                     NaN
21          NaN          NaN          NaN         NaN                     NaN
22          NaN          NaN          NaN         NaN                     NaN

In [38]:
x=df[['Math','Business Studies','Environmental Studies','Social Science','Physics','Chemistry','Biology','English','German','Spanish']].values
x

array([[ 70,  83,  56,  74,  78,  52,  59, 100,  91,  85],
       [ 82,  64,  51,  57,  52,  70,  55,  77,  79,  90],
       [ 57,  92,  85,  80,  78,  71,  65,  94,  63,  87],
       [ 56,  62,  96,  89,  74,  54,  60,  67,  78,  62],
       [ 96,  50,  69,  52,  86,  83,  53,  55,  60,  82],
       [ 61,  80,  88, 100,  78,  68,  89,  75,  88,  60],
       [ 83,  65,  67,  57,  73,  91,  51,  58,  51,  84],
       [ 91,  93,  91,  82,  62,  83,  95,  55,  82,  97],
       [ 72,  60,  90,  59,  82,  92,  55,  78,  65,  67],
       [ 65,  98,  71,  61,  78,  76,  66,  88,  74,  88],
       [ 74,  91,  84,  52,  50,  70,  64,  74,  87,  72],
       [ 88,  90,  68,  75,  98,  91,  90,  50,  86,  71],
       [ 53,  73,  77,  90,  72,  61,  69,  60,  81,  72],
       [ 70,  58, 100,  78,  54, 100,  76,  99,  74,  69],
       [100,  91,  63,  66,  84,  51,  93,  98,  62,  69],
       [ 93,  90,  92,  91,  88,  61,  87,  59,  89,  78],
       [ 95,  70, 100,  50,  51,  75,  84,  87,  91,  94],
       [ 89,  85,  63,  73,  74,  97,  85,  59,  53,  97],
       [ 80,  53,  64,  59,  91,  57,  86,  93,  64,  77],
       [ 55,  79,  55,  65,  76,  94,  66,  79,  93,  71],
       [ 92,  89,  64,  78,  74,  80,  54,  70,  91,  51],
       [ 75,  65,  77,  87,  91,  61,  77,  93,  59,  58],
       [ 71,  76,  84, 100,  56,  73,  56,  53,  64,  79]], dtype=int64)

In [39]:
y=df['Class']
y

0     0
1     0
2     1
3     2
4     3
5     2
6     6
7     2
8     5
9     1
10    1
11    3
12    2
13    5
14    4
15    1
16    0
17    4
18    6
19    0
20    4
21    3
22    2
Name: Class, dtype: int64

In [40]:
from sklearn.neighbors import KNeighborsClassifier
k=2

In [41]:
neigh=KNeighborsClassifier (n_neighbors=k).fit(x,y)

In [35]:
x_test=np.array([90,98,60,74,76,56,71,60,60,60]).reshape(1,-1)
y_pred=neigh.predict(x_test)
if y_pred==0:
    print('Your aptitude lies in Languages')
elif y_pred==1:
    print('Your aptitude lies in Business studies')
elif y_pred==2:
    print('Your aptitude lies in Humanities')
elif y_pred==3:
    print('Your aptitude lies in Mathematical Sciences')
elif y_pred==4:
    print('Your aptitude lies in Finance')
elif y_pred==5:
    print('Your aptitude lies in Environmental Sciences')
elif y_pred==6:
    print('Your aptitude lies in Science research')
else:
    print('Invalid')

Your aptitude lies in Finance